:root {
  --highlight: hsl(191, 51%, 92%);
  --background: hsl(191, 51%, 80%);
  --border: hsl(191, 51%, 70%);
  --dark: hsl(191, 51%, 40%);

  --main-text: hsl(191, 51%, 12%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  padding-bottom: 20px;
  color: var(--main-text);
}

header {
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
  background-color: var(--background);
}

header ul {
  display: flex;
  justify-content: center;
  line-height: 1;
}

header li {
  margin: 0 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

header a {
  color: var(--dark) !important;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}


h1 {
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 20px;
}

section {
  max-width: 880px;
  padding: 0 40px;
  margin: auto;
}

section a {
  color: var(--dark) !important;
}

section a:hover {
  background-color: var(--highlight);
}

section p {
  margin-bottom: 20px;
}

section ul li {
  list-style-type: circle;
  margin-left: 40px;
  margin-bottom: 10px;
}

section ul li:last-child {
  margin-bottom: 20px;
}

section ol li {
  list-style-type: roman;
  margin-left: 40px;
  margin-bottom: 20px;
}

#interest {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  border: 1px solid var(--dark);
  padding: 20px;
}

#interested {
  color: var(--main-text) !important;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--background);
  font-size: 3rem;
  padding: 30px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid var(--border);
  border-radius: 5px;
}

#interested:hover {
  background-color: var(--highlight);
}

h2 {
  border-top: 1px dashed var(--main-text);
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#intro li span {
  font-size: 0.8rem;
  font-style: italic;
  display: block;
  margin-left: 8px;
}

