body {
  max-width: 800px;

  background-color: #F8F8F8;

  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;

  margin: auto;
}

ul {
  margin-top: 10px;
}

li:not(:first-child) {
  margin-top: 10px;
}

pre {
  margin-left: 30px;
}

div {
  background-color: #FFFFFF;

  margin-bottom: 10px;
  padding: 0 20px;

  border: 1px solid #000000;
  box-shadow: 2px 2px 0 #000000;
}

#signature {
  text-align: right;
}
