{% block extra_data %}
{% set section = "" %}
{% set katex = false %}
{% endblock %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/ccff81e838.js"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">

    <!-- Favicon, courtesy of https://favicon.io/favicon-generator/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% if katex %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
            onload="renderMathInElement(document.body, { delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});"></script>
    {% endif %}

    <script src="/main.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <canvas id="background-canvas">
        </canvas>

        <nav>
          <ul>
            <li><a class="{% if section == "Home" %}active{% endif %}" href="/">Home</a></li>
            <li><a class="{% if section == "Music" %}active{% endif %}" href="/music">Music</a></li>
            <li><a class="{% if section == "Blog" %}active{% endif %}" href="/blog">Blog</a></li>
          </ul>
        </nav>

        {% block header %} {% endblock %}

        {% block content %} {% endblock %}
      </div>
  </body>
</html>
