<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Justin Lubin</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Signika:600&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/main.css" />

    <!-- Favicon, courtesy of https://favicon.io/favicon-generator/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="/rhill-voronoi-core.min.js"></script>
    <script src="/main.js"></script>
  </head>
  <body>
    <header id="main-header">
      <div id="main-circle">
        <p>the homepage of</p>
        <h1><a class="fancy-underline" href="#about-me">Justin Lubin</a></h1>
      </div>
      <canvas id="voronoi" height="600"></canvas>
      <div id="blur"></div>
    </header>

    <div id="main">
      <aside id="info">
        <img src="/img/me.jpg"
             alt="A close-up photo of Justin Lubin smiling." />
        <div>
          <h2>
            <a class="fancy-underline" href="/">
              Justin Lubin</a>
          </h2>
          <p id="pronouns">he/him/his</p>
          <ul id="contact">
            <li>
              <i class="icon far fa-envelope"></i>
              <a class="fancy-underline"
                 href="mailto:justin@jlubin.net"
                 title="Email">justin@jlubin.net</a>
            </li>
            <li>
              <i class="icon fab fa-github"></i>
              <a class="fancy-underline"
                 href="https://github.com/justinlubin/"
                 title="GitHub">justinlubin</a>
            </li>
            <li>
              <i class="icon fab fa-twitter"></i>
              <a class="fancy-underline"
                 href="https://twitter.com/jplubin/"
                 title="Twitter">jplubin</a>
            </li>
            <li>
              <i class="icon far fa-file-alt"></i>
              <a class="fancy-underline"
                 href="/assets/lubin-cv.pdf"
                 title="Curriculum Vitae">CV</a>
            </li>
          </ul>
        </div>
        <ul id="nav">
          <li>
            <a class="fancy-underline" href="#about-me">About Me</a>
          </li>
          <li>
            <a class="fancy-underline" href="#research">Research</a>
          </li>
          <li>
            <a class="fancy-underline" href="#news">News</a>
          </li>
          <li>
            <a class="fancy-underline" href="#fun">Fun</a>
          </li>
        </ul>
      </aside>

      <div id="content">
        $body$
      </div>
    </div>
  </body>
</html>
