    <header class="main-header">
      <a href="/img/justinlubin.jpg">
        <img src="/img/justinlubin_1x1.jpg"
             alt="A close-up photo of Justin Lubin smiling."
             width="125"
             height="125" />
      </a>
      <div>
        <h1>
          <a href="/">
            Justin Lubin</a>
          {% if section.title != "Home" %}
          / {{ section.title }}
          {% endif %}
        </h1>
        <p class="sub">
          Final-year CS PhD candidate, UC Berkeley
          (advisor: <a href="https://schasins.com">Sarah E. Chasins</a>)
        </p>
        <p class="sub">
          <strong>Programming languages</strong> ◦
          <strong>human-computer interaction</strong> ◦
          <strong>biology</strong>
        </p>
        <ul class="links">
          <li>
            <i class="icon fa-regular fa-file-alt"></i>
            <a href="/assets/lubin-cv.pdf"
               title="Curriculum Vitae">CV</a>
          </li>
          <li>
            <i class="icon fa-regular fa-envelope"></i>
            <a href="mailto:justinlubin@berkeley.edu"
               title="Email">justinlubin@berkeley.edu</a>
          </li>
          <li>
            <i class="icon fa-brands fa-github"></i>
            <a href="https://github.com/justinlubin/"
               title="GitHub">GitHub</a>
          </li>
          <li>
            <i class="icon fa-brands fa-google-scholar"></i>
            <a href="https://scholar.jlubin.net"
               title="GitHub">Google Scholar</a>
          </li>
        </ul>
      </div>
    </header>
