    <header class="main-header">
      <a href="/img/justinlubin.jpg">
        <img src="/img/justinlubin_1x1.jpg"
             alt="A close-up photo of Justin Lubin smiling."
             width="125"
             height="125" />
      </a>
      <div>
        <h1>
          <a href="/">
            Justin Lubin</a>
          {% if section.title != "Home" %}
          / {{ section.title }}
          {% endif %}
          <span class="pronouns">(he/him)</span>
        </h1>
        <ul class="links">
          <li>
            <i class="icon fa-regular fa-file-alt"></i>
            <a href="/assets/lubin-cv.pdf"
               title="Curriculum Vitae">CV</a>
          </li>
          <li>
            <i class="icon fa-regular fa-envelope"></i>
            <a href="mailto:justin@jlubin.net"
               title="Email">justin@jlubin.net</a>
          </li>
          <li>
            <i class="icon fa-brands fa-github"></i>
            <a href="https://github.com/justinlubin/"
               title="GitHub">GitHub</a>
          </li>
          <li>
            <i class="icon fa-brands fa-google-scholar"></i>
            <a href="https://scholar.jlubin.net"
               title="GitHub">Google Scholar</a>
          </li>
        </ul>
        <div class="narrow">
          <span><strong>Primary area:</strong> Programming languages</span>
          <!--<span class="sep">◦</span>-->
          <span><strong>Secondary areas:</strong> Human-computer interaction, biology</span>
        </div>
      </div>
    </header>
