/* Variables */

:root {
  --highlight: hsl(191, 51%, 92%);
  --background: hsl(191, 51%, 80%);
  --border: hsl(191, 51%, 70%);
  --dark: hsl(191, 51%, 40%);
  --main-text: hsl(191, 51%, 12%);
}

/* General */

* {
  box-sizing: border-box;
}

body {
  color: var(--main-text);

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;

  padding-bottom: 20px;
}

/* Header */

header {
  background-color: var(--background);
  text-align: center;
  margin-bottom: 50px;
  padding: 50px;
}

header h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

header ul {
  display: flex;
  justify-content: center;
  line-height: 1;
}

header li {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 20px;
}

header a {
  color: var(--dark) !important;
  text-decoration: none;
}

  header a:hover {
    text-decoration: underline;
  }

/* Sections */

section {
  max-width: 880px;
  padding: 0 40px;
  margin: auto;
}

section a {
  color: var(--dark) !important;
}

  section a:hover {
    background-color: var(--highlight);
  }

section p {
  margin-bottom: 20px;
}

section li {
  margin-left: 40px;
  margin-bottom: 10px;
}

  section li:last-child {
    margin-bottom: 20px;
  }

section ul li {
  list-style-type: circle;
}

section ol li {
  list-style-type: roman;
}

section h2 {
  font-size: 1.3rem;
  font-weight: 700;

  margin-bottom: 10px;
  padding-top: 20px;

  border-top: 1px dashed var(--main-text);
}

/* Special elements */

.attribution {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 8px;
}

.callout {
  display: block;

  text-align: center;
  font-weight: 700;

  margin-top: 20px;
  padding: 20px;

  border: 1px solid var(--dark);
}

.big-button {
  display: block;

  background-color: var(--background);
  color: var(--main-text) !important;

  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;

  margin-bottom: 20px;
  padding: 30px;

  border-bottom: 2px solid var(--border);
  border-radius: 5px;
}

  .big-button:hover {
    background-color: var(--highlight);
  }
