/* General */

* {
  box-sizing: border-box;
}

:root {
  --main-background-color: #FFFFFF;
  --accent-background-color: #FDEA8C;
  --dark-background-color: #FCB858;

  --pop-color-a: #A3F4F5;
  --pop-color-b: #E05252;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

header, section {
  width: 800px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
}

b {
  font-weight: 900;
}

/* Header */

header {
  /*background-color: var(--dark-background-color);*/
  text-align: center;
  padding: 20px;
  /*border-bottom: 5px dashed var(--main-background-color);*/
}

header h1 {
  font-weight: 700;
  font-size: 3rem;
}

/* Sections (general) */

/*
section:nth-child(even) {
  background-color: var(--main-background-color);
}

section:nth-child(odd) {
  background-color: var(--accent-background-color);
  /*border-top: 5px dashed var(--main-background-color);
  /*border-bottom: 5px dashed var(--main-background-color);
}
*/

/* Intro */

#intro {
  text-align: center;
  padding: 20px 0;
}

#intro ul {
  width: 100%;
  margin: 40px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#intro li {
  padding: 20px;
  border: 1px solid black;
  width: calc(50% - 20px);
}

#intro li:first-child {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 40px;
}

#intro li span {
  display: block;
  font-size: 0.7rem;
}

/* Questions */

#questions {
  text-align: center;
  padding: 20px;
}

#questions ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
}

#questions li {
  background-color: var(--main-background-color);
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

#questions b {
  display: block;
  margin-top: 10px;
}

/* Participation */

#participation {
  padding: 20px;
}

#participation > p {
  margin-bottom: 10px;
}

#participation ol li {
  margin: 10px 0 10px 50px;
  list-style-type: roman;
}

#interested {
  display: block;

  font-size: 2.5rem;
  font-weight: 900;
	text-align: center;

  margin: 20px 0;
  padding: 20px;
  background-color: #33AA00;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px solid #338800;
  border-radius: 5px;
}

#interested:hover {
  background-color: #33BB00;
}

#interested:active {
  background-color: #339900;
}

/* About */

#about {
  padding: 20px;
}

#about h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}
